In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:
df = pd.read_csv("/home/abhishek.anand/Desktop/store_sales/src/2/store_sales.csv")

In [7]:
df.head()

   Store ID  Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0         1        1963             2663                   372       114381
1         2        3094             1350                   673        67867
2         3        2735             1110                   331        45823
3         4        3285             2208                   477       104602
4         5        1653             2125                   543       106117

In [8]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')